body {
    background-color: #556B2F;
    font-size: 28px;
}
h1 {
    /* border-bottom: 11px solid black; */
    text-decoration: underline;
}
.center {
    margin: auto;
    text-align: center;
}
.property {
    font-family: monospace;
}
.heading {
    font-family: sans-serif;
}
table td {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
}