.up {
    text-transform: uppercase;
}

body {
    background-color: black;
    color: white;
}

button, input {
    font-family: Neucha;
}

ol {
    color: white;
    font-family: Neucha;
}

button:hover, li:hover, input:hover {
    background-color: yellow;
    color: red;
}