@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
h1 {
    font-family: 'Noto Serif', serif;
    font-size: 24px;
}
ul {
    font-size: 24px;
}
.center {
    margin: auto;
    width: 30em;
    text-align: center;
    background-color: white;
    margin-top: -100px;
    margin-bottom: -10px;
    padding-top: 90px;
    padding-bottom: 100vh;
    animation-name: flush;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
textarea {
    width: 100%;
    resize: none;
    height: 111px;
    font-family: 'Noto Serif', serif;
    font-size: 24px;
}
body {
    background-color: pink;
}
@keyframes flush{
    from {
        background-color: white;
    }
    to {
        background-color: pink;
    }
}