a:visited {
    color: grey;
}
a {
    color: blue;
    font-size: 30pt;
}
a:hover {
    font-weight: bold;
    color: green;
}
p:nth-of-type(2)::first-line {
    background-color: pink;
}
p::first-line { 
    font-variant: small-caps;
}
img:hover {
    border: 11px solid pink;
}